.text{
	color: white;
	background-color: blue;
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: auto;
	width: 600px;
	text-align: left;
	}

img{
		float: right;
		padding-left: 15px;
		padding-bottom: 10px;
	}